[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Originalsmallxe
	email = 166338147+Originalsmallxe@users.noreply.github.com
